﻿@model Phantom.Core.Branch

@{
    ViewBag.Title = "Branch Management";
}

<div class="col-md-6">
    <div class="card">
        <div class="header">
            <h4 class="title">Branch Details</h4>
        </div>
        <div class="content">
            <div class="typo-line">
                <h5>
                    <p class="category">@Html.DisplayNameFor(model => model.Name) :</p>
                </h5>
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="typo-line">
                <h5>
                    <p class="category">@Html.DisplayNameFor(model => model.Code) :</p>
                </h5>
                @Html.DisplayFor(model => model.Code)
            </div>
            <div class="typo-line">
                <h5>
                    <p class="category">@Html.DisplayNameFor(model => model.Status) :</p>
                </h5>
                @Html.DisplayFor(model => model.Status)
            </div>

            <div class="text-center">
                @Html.ActionLink("Update", "Edit", new { id = Model.Id }, new { @class = "btn btn-fill btn-info" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-fill btn-info" })               
            </div>
            <div class="clearfix"></div>
        </div>
    

    </div> <!-- end card -->
</div> <!--  end col-md-6  -->
@*@Html.Partial("_Nugget");*@
@{Html.RenderAction("GetNugget", "Nugget");}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
