﻿@model Phantom.Core.Branch

@{
    ViewBag.Title = "Branch Management";
}

@Html.AntiForgeryToken()

<div class="col-md-6">
    <div class="card">
        @*<form class="form-horizontal">*@
        @using (Html.BeginForm("Edit", "Branch", FormMethod.Post,
 new { @class = "form-horizontal" }))
        {
            <div class="header">
                <h4 class="title">Update Branch</h4>
            </div>
            <div class="content">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "col-md-3 control-label" })                   
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Name" }, })                       
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.EnumDropDownListFor(model => model.Status, new { @class = "selectpicker", data_title = "Select Status", data_style = "btn-danger btn-block", data_menu_style = "dropdown-blue" })
                    </div>
                </div>

            </div>
            <div class="card-footer" style="margin-top:60px;">
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <button type="submit" class="btn btn-fill btn-info">
                            Update
                        </button>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-fill btn-info" })                        
                    </div>
                </div>
            </div>
        }
        @*</form>*@
    </div> <!-- end card -->
</div> <!--  end col-md-6  -->
@*@Html.Partial("_Nugget");*@
@{Html.RenderAction("GetNugget", "Nugget");}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
