﻿@model Phantom.Core.GLCategory
@{
    ViewBag.Title = "General Ledger Account Category Management";
}

@Html.AntiForgeryToken()

<div class="col-md-6">
    <div class="card">
        @*<form class="form-horizontal">*@
        @using (Html.BeginForm("Create", "GLCategory", FormMethod.Post,
 new { @class = "form-horizontal" }))
        {
            <div class="header">
                <h4 class="title">Create GL Category</h4>
            </div>
            <div class="content">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Name" }, })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">                        
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Enter Description", @rows = 5 })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AccountCategory, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        <div class="btn-group bootstrap-select dropup">
                            @Html.EnumDropDownListFor(model => model.AccountCategory, new { @class = "selectpicker", data_title = "Select One", data_style = "btn-danger btn-block", data_menu_style = "dropdown-blue" })

                        </div>
                    </div>
                </div>
               

            </div>
            <div class="card-footer" style="margin-top:60px;">
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <button type="submit" class="btn btn-fill btn-info">
                            Create
                        </button>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-fill btn-info" })
                    </div>
                </div>
            </div>
        }
        @*</form>*@
    </div> <!-- end card -->
</div> <!--  end col-md-6  -->
@*@Html.Partial("_Nugget");*@
@{Html.RenderAction("GetNugget", "Nugget");}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


