﻿@model IEnumerable<Phantom.Core.GLCategory>
@{
    ViewBag.Title = "General Ledger Category Management";
}
@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            demo.showNotification('top', 'center');
        </script>
    }
}
<div class="col-md-12">
    <div class="card">
        <div class="row">
            <div class="col-md-3">
                <div class="header">
                    <h4 class="title">GL Account Categories</h4>

                </div>
            </div>
            <div class="col-md-2 col-md-offset-7" style="margin-top:15px">
                @Html.ActionLink("Create New", "Create", "GLCategory", null, new { @class = "btn btn-fill btn-info" });
            </div>


        </div>

        <div class="content">
            <div class="toolbar">
                <!--Here you can write extra buttons/actions for the toolbar-->

            </div>

            <div class="fresh-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Category)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>                           
                            <th class="disabled-sorting">Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Category)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>                       
                            <th class="disabled-sorting">Actions</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>                       
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, null) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, null)
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>

        </div>


    </div> <!-- end card -->
</div>
@section TableStunts{
    @Scripts.Render("~/bundles/TableMagic")
}
@section DemoJS{
    @Scripts.Render("~/bundles/DemoJS")
}




