﻿@model Phantom.Core.Nugget
<div class="col-md-6">
    <div class="card">

        <div class="header">
         <h4 class="title">Nuggets #@Model.Number</h4>
        </div>
        <div class="content">
            <p>
                 @Model.Tip
            </p>

        </div>

    </div> <!-- end card -->
</div> <!--  end col-md-6  -->
