﻿@model Phantom.Core.Customer
@{
    ViewBag.Title = "Customer Management";
}

<div class="col-md-6">
    <div class="card">
        <div class="header">
            <h4 class="title">Customer Details</h4>
        </div>
        <div class="content">
            <div class="typo-line">
                <h5>
                    <p class="category">@Html.DisplayNameFor(model => model.FirstName) :</p>
                </h5>
                @Html.DisplayFor(model => model.FirstName)
            </div>
            <div class="typo-line">
                <h5>
                    <p class="category">@Html.DisplayNameFor(model => model.Surname) :</p>
                </h5>
                @Html.DisplayFor(model => model.Surname)
            </div>
            <div class="typo-line">
                <h5>
                    <p class="category">@Html.DisplayNameFor(model => model.Email) :</p>
                </h5>
                @Html.DisplayFor(model => model.Email)
            </div>

            <div class="typo-line">
                <h5>
                    <p class="category">@Html.DisplayNameFor(model => model.Phone) :</p>
                </h5>
                @Html.DisplayFor(model => model.Phone)
            </div>

            <div class="typo-line">
                <h5>
                    <p class="category">@Html.DisplayNameFor(model => model.Gender) :</p>
                </h5>
                @Html.DisplayFor(model => model.Gender)
            </div>

            <div class="text-center">
                @Html.ActionLink("Update", "Edit", new { id = Model.Id }, new { @class = "btn btn-fill btn-info" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-fill btn-info" })
            </div>
            <div class="clearfix"></div>
        </div>


    </div> <!-- end card -->
</div> <!--  end col-md-6  -->
@*@Html.Partial("_Nugget");*@
@{Html.RenderAction("GetNugget", "Nugget");}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

